
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;


}


body {
    background: white;
  }
  p {
    color: black;
    text-align: center;
  }
  h1 {
    font-weight: bold;
    text-align: center;
  }




 ul {
 float: right   
}
  ul li{
    display: inline-block;


  }
  ul li a{
text-decoration: none;
color: white;
padding: 5px 20px;
border: 1px solid  black;

  }

  body html{
    height: 100%; 
  }




  .container{
    background-image:url("https://media.istockphoto.com/photos/depressed-woman-beside-a-lot-of-pills-picture-id868488148") ;
    height: 200vh;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      
    
    
    }

  
 .imgContainer{
   margin: auto;
text-align: center;
 }


 .logoImg img{
  max-width: 100px;


}


  .imgContainer img{
    width: 100%;
    height: auto;
  }
  

  





  

 
 



